.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.feature-list__item {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}
.feature-list__title {
  @include font(700, 14px, 1.14, 0.03em);
  color: var(--title-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
}
.feature-list__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-image: url(../images/bg-feature.jpg);
  background-size: 100%;
}
.feature-icon {
  width: 70px;
  height: 70px;
}
